<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/new.css" />

</head>
<body>
    <h1>Fill this to add</h1>
    <a href="/cars">Back to the list</a>
    <form action="/cars" method="Post">
<fieldset>
<label for="name">Name</label>
<input type="text" name="name" id="name" >
</fieldset>
<br>
<fieldset>
    <label for="price">Price</label>
<input type="text" name="price" id="price" >
</fieldset>
<br>
<button type="submit">Submit</button>

    </form>
</body>
</html>